@import "~style/global.scss";

.FullPost {
  color: color(light, secondary);
  @include rhythm(30, 46);

  & > * {
    margin: 0 0 61px;
  }

  & > h1 {
    color: color(light, primary);
    @include rhythm(42, 57);

    //margin: 0 0 61px;
  }

  & > blockquote {
    border-left: 13px solid color(light, secondary);

    padding: 0 0 0 37px;
  }



}
