@import "~style/reset";
@import "~style/functions";
@import "~style/textStyles";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app{
  height: 100%;
}


html {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @include font-family(normal);
  font-weight: 400;
  @include fluid-type(1000, 1600px, 16px, 18px);
  color: color(black, base);
}

h1 {
  font-size: 2rem;
  @include font-family(headline);
  font-weight: 500;
}

a { cursor: pointer; }

b {
  font-weight: 900;
}

@import "~style/fonts";
