@import "~style/variables/colorVariables";
@import "~style/variables/fontVariables";
@import "~style/reset";
@import "~style/functions";
@import "~style/textStyles";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}


html {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @include font-family(normal);
  font-weight: 400;
  @include fluid-type(1000px, 1600px, 16px, 18px);
  color: color(light, secondary);
}

* {
  position: relative;
  box-sizing: border-box;
}

h1 {
  @include heading-light-primary-general;
}

figcaption {
  color: color(light, nonfocus);
  @include rhythm(23, 60);
}

a {
  cursor: pointer;
}

b {
  font-weight: 900;
}

@import "~style/fonts";
