@import "~style/global.scss";

.NavigationBar {
  display: flex;
  align-items: center;
  padding: 25px 0 0 0;

  & > .nav-item {
    @include rhythm(42, 57);
    //padding: 30px 0;
    padding-bottom: 7px;
    margin: 0 50px;
    border-bottom: 6px solid transparent;

    &.active {
      border-bottom-color:color(dark, black);
    }
  }
}